body{
    background-image: url(https://i.imgur.com/tjIXFDy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: rgba(255, 255, 255, 0.7);
}

.question-numbers{
    font-weight: bold;
}

.card-header{
    color: white;
}

.game-data-container{
    /* position: fixed; */
}